/*Selectores */
h1{
    color : rgba(31, 19, 19, 0.945);
    font-family: sans-serif;/*Valores */
}

h2{
    color : rgb(112, 55, 95)
    
}

.subs{ /*Utilizamos el . para modificar las clases */
    color:rgb(119, 2, 128)
}

.container{
    border: black solid;
    margin: 10px;
    padding : 10px;
}

body{
    margin:0%
}